@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --kotakodelab-bg-emphasis: 0, 0%, 93%;
    --kotakodelab-bg: 0, 0%, 100%;
    --kotakodelab-bg-muted: 210, 20%, 98%;
    --kotakodelab-bg-inverted: 221, 39%, 11%;

    --kotakodelab-bg-info: 199, 100%, 87%;
    --kotakodelab-bg-success: 109, 47%, 88%;
    --kotakodelab-bg-error: 0, 100%, 91%;
    --kotakodelab-bg-dark-error: 2, 55%, 30%;

    --kotakodelab-border-emphasis: 218, 11%, 65%;
    --kotakodelab-border: 216, 12%, 84%;
    --kotakodelab-border-subtle: 220, 13%, 91%;
    --kotakodelab-border-muted: 220, 14%, 96%;
    --kotakodelab-border-error: 4, 63%, 41%;

    --kotakodelab-text-emphasis: 221, 39%, 11%;
    --kotakodelab-text: 212, 13%, 28%;
    --kotakodelab-text-subtle: 220, 9%, 46%;
    --kotakodelab-text-muted: 218, 11%, 65%;
    --kotakodelab-text-inverted: 0, 0%, 100%;

    --kotakodelab-text-info: 228, 56%, 33%;
    --kotakodelab-text-success: 133, 34%, 24%;
    --kotakodelab-text-error: 2, 55%, 30%;

    --kotakodelab-brand: 221, 39%, 11%;
    --kotakodelab-brand-emphasis: 0, 0%, 6%;
  }
}

@layer components {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
}
